.custom-card {
    border: 1px solid #000;

}

.container {
    padding: 30px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 2fr));
    gap: 25px;
    border: 1px;
}


.mat-mdc-card-title {
    margin-bottom: 5px;
}

mat-slide-toggle {
    display: block;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 2px;
}

.delete_icon {
    display: block;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 2px;
}