<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="catChanged($event)">
  @for(_cat of inst_category; track _cat) {
  <mat-tab label="{{_cat | titlecase}}">

    <section class="example-section">
      @for(_cur of inst_currency; track _cur) {
      <mat-checkbox class="example-margin" (change)="selectedCurr(_cur)">{{_cur}}</mat-checkbox>
      }
      @for(_type of act_type; track _type) {
      <mat-checkbox class="example-margin" (change)="selectedType(_type)">{{_type}}</mat-checkbox>
      }
    </section>

    <div class="container responsive-grid" *ngIf="addNewAccount === false">
      <mat-card *ngFor="let account of selectedAccounts" class="mat-elevation-z0" class="custom-card">
        <mat-card-header>
          <mat-card-title>{{account.institutionName}} -
            {{account.institutionCategory | titlecase}}
            <!-- @if (account.institutionCategory == 'BANKING' || 'Banking') {
        Primary
        }@else {
        Other
        } -->
          </mat-card-title>
          <mat-card-subtitle>
            @if (account.accountType == 'PPF') {
            {{account.accountType}}
            }@else {
            {{account.accountType | titlecase}}
            }
            ({{account.institutionCurrency}}) -
            {{account.accountNumber}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Balance : {{account.accountBalance | currency: account.institutionCurrency}}
          </p><br />
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutGap="5px">
            <button mat-raised-button color="primary" (click)='navigateWithParam(account)'>Statements</button>
            <button mat-raised-button color="accent" [disabled]=!account.isActive
              (click)="openDialog(account)">Upload</button>
            <mat-slide-toggle matTooltip="Is Active" [checked]="account.isActive"
              (change)="toggleIsAccountActive(account.id)"></mat-slide-toggle>
          </div>
        </mat-card-actions>
      </mat-card>

      <mat-card class="mat-elevation-z0" class="custom-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Register Account</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions>
          <button mat-icon-button aria-label="register account" (click)="RegisterAccount()">
            <!-- Login  Page and registrations page-->
            <!-- Do not display once login is complete-->
            <mat-icon aria-hidden="false" aria-label="addAccount" matTooltip='Register Account'
              fontIcon="account_balance"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <app-add-accounts *ngIf="addNewAccount === true" (formClose)="onCloseReport()"></app-add-accounts>
  </mat-tab>
  }
</mat-tab-group>