<!-- <div class="displayHeader">
  <h1>Task List</h1>
</div> -->
<mat-toolbar-row>
  <span class="span">
    <h1>Open Task List</h1>
  </span>
</mat-toolbar-row>

<ng-container *ngIf="addnewTask === false">
  <div class="example-button-row example-button-container">
    <button mat-raised-button (click)="addnewTask = true">Add Task</button>
  </div>

  <ng-container class="toggleContainer" *ngIf="addnewTask === !true">
    <span class="spacer"></span>
    <mat-slide-toggle [(ngModel)]="showComplete" (toggleChange)="getTasks()">
      Show Completed Items
    </mat-slide-toggle>
    <span class="spacer"></span>
  </ng-container>

  <div class="tableContainer">
    <table mat-table [dataSource]="tasks" class="mat-elevation-z8 fullWidth">
      <!-- Position Column -->
      <ng-container matColumnDef="Position">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
        <!-- <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let task">{{ task.taskNo }}</td> -->
      </ng-container>

      <!-- Task Column -->
      <ng-container matColumnDef="Task">
        <th mat-header-cell *matHeaderCellDef>Task</th>
        <td mat-cell *matCellDef="let task">{{ task.task }}</td>
      </ng-container>

      <!-- Priority Column -->
      <ng-container matColumnDef="Priority">
        <th mat-header-cell *matHeaderCellDef>Priority</th>
        <td mat-cell *matCellDef="let task">{{ task.priority }}</td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let task">{{ task.type }}</td>
      </ng-container>

      <!-- StartDate Column -->
      <ng-container matColumnDef="StartDate">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let task">{{ task.startDate }}</td>
      </ng-container>

      <!-- TargetDate Column -->
      <ng-container matColumnDef="TargetDate">
        <th mat-header-cell *matHeaderCellDef>Target Date</th>
        <td mat-cell *matCellDef="let task">{{ task.targetDate }}</td>
      </ng-container>

      <!-- Completed Column -->
      <ng-container matColumnDef="Completed">
        <th mat-header-cell *matHeaderCellDef>Completed</th>
        <td mat-cell *matCellDef="let task">
          <mat-checkbox
            color="primary"
            (change)="markComplete(task.id)"
            [(ngModel)]="task.completed"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <<ng-container matColumnDef="Delete"
        >>
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let task">
          <button
            id="basic"
            type="button"
            mat-button
            (click)="deleteTask(this.task.id)"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</ng-container>

<app-create-task
  *ngIf="addnewTask === true"
  (formClose)="onCloseReport()"
></app-create-task>
