.matCard {
  border: 55px solid #000;
  }
  
  // .example-header-image {
  //   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  //   background-size: cover;
  // }

  
  // .content {
  //   padding: 16px;
  // }
  
  // .content > mat-card {
  //   margin-bottom: 16px;
  // }
  
  // .column-label {
  //   margin-right: 8px;
  //   font-size: 1rem;
  // }
  
  .container {
    padding: 24px;
  }

  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
    border: 1px;
  }