// For more information: https://material.angular.io/guide/theming
@use 'home-app-theme.scss';

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 5px;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}


.top-pad {
    margin-top: 16px;
}

.h-pad {
    margin: 0 16px;
}

.flex-spacer {
    flex: 1 1 auto;
}